
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;


@using DoAn1.Models;

<ul class="breadcrumb">
    <li><a asp-controller="home" asp-action="index">Home</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Category.Name</li>
</ul>

<h3> @ViewBag.Category.Name <small class="pull-right"> @ViewBag.CountProducts products are available </small></h3>

<hr class="soft" />

<form class="form-horizontal span6">
    <div class="control-group">
        <label class="control-label alignL">Sort By </label>
        <select>
            <option>Priduct name A - Z</option>
            <option>Priduct name Z - A</option>
            <option>Priduct Stoke</option>
            <option>Price Lowest first</option>
        </select>
    </div>
</form>

<div id="myTab" class="pull-right">
    <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
    <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr" />
<div class="tab-content">
    <div class="tab-pane" id="listView">
        @foreach (var product in ViewBag.Products)
        {
            Product productInfo = (Product)product;
            Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
            var photoName = photo == null ? "" : photo.Name;
            <div class="row">
                <div class="span2">
                    <img src="~/products/@photoName" alt="" />
                </div>
                <div class="span4">
                    <h3>New | Available</h3>
                    <hr class="soft" />
                    <h5>@productInfo.Name</h5>
                    <p>
                        @productInfo.Description
                    </p>
                    <a class="btn btn-small pull-right" asp-controller="product" asp-action="details" asp-route-id="@product.Id">View Details</a>
                    <br class="clr" />
                </div>
                <div class="span3 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3>@productInfo.Price</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br />

                        <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                        <a asp-controller="product" asp-action="details" asp-route-id="@product.Id" class="btn btn-large"><i class="icon-zoom-in"></i></a>

                    </form>
                </div>
            </div>
            <hr class="soft" />
        }
        </div>
    <div class="tab-pane  active" id="blockView">
        <ul class="thumbnails">
            @foreach (var product in ViewBag.Products)
            {
                Product productInfo = (Product)product;
                Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                var photoName = photo == null ? "" : photo.Name;
            <li class="span3">
                <div class="thumbnail">
                    <a asp-controller="product" asp-action="details" asp-route-id="@product.Id"><img src="~/products/@photoName" alt="" /></a>
                    <div class="caption">
                        <h5>@productInfo.Name</h5>
                        <p>
                            @productInfo.Description
                        </p>
                        <h4 style="text-align:center">
                        <a class="btn" asp-controller="product" asp-action="details" asp-route-id="@product.Id"> <i class="icon-zoom-in"></i></a> 
                        <a class="btn" asp-controller="cart" asp-action="buy" asp-route-id="@product.Id">Add to <i class="icon-shopping-cart"></i></a> 
                        <a class="btn btn-primary" href="#">&euro;@productInfo.Price</a></h4>
                    </div>
                </div>
            </li>
            }
        </ul>
        <hr class="soft" />
    </div>
</div>

<a href="compair.html" class="btn btn-large pull-right">Compair Product</a>
<div class="pagination">
        @Html.PagedListPager((IPagedList)ViewBag.Products, page => Url.Action("category", "product", new { page = page, id = ViewBag.Category.Id }))
</div>
<br class="clr" />